/* == LAYOUT == */

body {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
  width: 1114px;
  justify-items: center;
  align-items: center;
  margin-top: 74px;
}

.card-green {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.card-red,
.card-yellow {
  grid-column: 2 / 3;
}

.card-red {
  grid-row: 1 / 3;
}

.card-yellow {
  grid-row: 3 / -1;
}

.card-blue {
  grid-column: 3 / -1;
  grid-row: 2 / 4;
}

/* == TYPOGRAPHY == */

@font-face {
  font-family: 'Poppins-Regular';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url('./fonts/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
}

body {
  font-family: 'Poppins-Regular', sans-serif;
}

h1 {
  font-family: 'Poppins-ExtraLight';
  color: #4D4F62;
  font-size: 36px;
  line-height: 1.4;
  letter-spacing: 0.25px;
}

h2 {
  font-family: 'Poppins-SemiBold';
  color: #4D4F62;
  font-size: 36px;
  line-height: 1.4;
  letter-spacing: 0.25px;
  margin-bottom: 16px;
}

h3 {
  margin-bottom: 6px;
  font-family: 'Poppins-SemiBold';
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0px;
}

header {
  text-align: center;
  width: 540px;
}

p {
  font-family: 'Poppins-Regular';
  color: #4D4F62;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.1px;
}

.card p {
  font-family: 'Poppins-Regular';
  color: #6A7178;
  font-size: 13px;
  line-height: 1.6;
  letter-spacing: 0.09px;
}


/* == CARD == */

.card {
  width: 350px;
  height: 250px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card-green {
  border-top: 4px solid #44D3D2;
}

.card-red {
  border-top: 4px solid #EA5454;
}

.card-yellow {
  border-top: 4px solid #FCAE4A;
}

.card-blue {
  border-top: 4px solid #549EF2;
}

.card img {
  width: 64px;
  height: 64px;
  align-self: flex-end;
}

/* == MEDIA QUERIES == */

/* Tablet version */
@media (max-width: 768px) {

  body {
    padding: 80px 54px;
  }

  main {
    width: 660px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 32px;
  }

  .card {
    width: 314px;
  }

  .card-green {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }

  .card-red,
  .card-yellow {
    grid-row: 3 / 5;
  }

  .card-red {
    grid-column: 1 / 3;
  }

  .card-yellow {
    grid-column: 3 / -1;
  }

  .card-blue {
    grid-column: 2 / 4;
    grid-row: 5 / -1;
  }
}

/* Mobile version */
@media (max-width: 375px) {
  body {
    width: 375px;
    padding: 56px 29px;
  }

  main {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 32px;
  }

  header {
    width: 316px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 24px;
  }

  .card {
    grid-column: 1 / -1;
  }

  .card-green {
    grid-row: 1 / 2;
  }

  .card-red {
    grid-row: 2 / 3;
  }

  .card-yellow {
    grid-row: 3 / 4;
  }

  .card-blue {
    grid-row: 4 / -1;
  }
}